services:
  web:
    build: .
    restart: unless-stopped
    ports:
      - "5000:5000"
    logging:
      options:
        max-size: "100m"
    deploy:
      resources:
        limits:
          memory: 512M
  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - web
